<h5><font color=magenta size=69>All ABOARD! Here are our CHOO-CHOOOS!</font></h5>

<ul>
  <% @lines.each do |line| %>
    <li>
    	<font color=teal size=12 face="Verdana">
    		
    		<%= link_to line.name, train_line_url(line.id) %>

    		<%= link_to "Delete", train_line_url(line.id), :method => :delete %>

    	</font>
    </li>
  <% end %>
</ul>

<%= link_to "Add a New Choo Choo", "http://localhost:3000/lines/new" %>
